<footer>
    <div class="f-info">
        <div class="f-left">
            <p>&copy;2026 NaviAir</p>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/company">Company details</a>
        </div>
        <div class="f-links">
        <p><i class="fa-solid fa-globe"></i>English (IN)</p> 
        <p><i class="fa-solid fa-indian-rupee-sign"></i> INR</p>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</footer>