<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaviAir</title>
</head>
<body>
    <h3>Create New Listings: </h3>
    <form method = "POST" action = "/listings">
        <input name="listing[title]" type = "text" placeholder="Enter the title"/>
        <br><br>
        <textarea name = "listing[description]" placeholder="enter the description"></textarea>
        <br><br>
        <input name="listing[image]" type = "text" placeholder="Enter the image URL/Link"/>
        <br><br>
        <input name="listing[price]" type = "number" placeholder="Enter the price"/>
        <br><br>
        <input name="listing[country]" type = "text" placeholder="Enter the country"/>
        <br><br>
        <input name="listing[location]" type = "text" placeholder="Enter the location"/>
        <button>Add</button>
    </form>
    
</body>
</html>